.background {
  background: radial-gradient(90% 60% at 50% 100%, #dce4cc 0%, #e3e9d8 70%, #ffffff 110%);
  background-attachment: fixed;

  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 130px 50px 50px;
  width: 700px;
  text-align: center;
}

/* 프로필 영역 */
.profileSection {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  margin: 30px 38.3%;
}

.profileImage {
  width: 100%;
  border-radius: 50%;
  border: 5px solid black;
}

/* 정보 입력 영역 */
.infoContainer {
  margin-top: 40px;
  width: 700px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.infoRow {
  display: flex;
  justify-content: center;
  width: 35%;
  margin: 10px 30%;
  padding: 7px;
  border-bottom: 1.5px solid black;
  align-items: center;
  text-align: center;
}

.inputField {
  border: none;
  width: 140px;
  text-align: center;
  background-color: transparent; /*입력란 투명*/
}

.inputField:focus {
  outline: none; /*입력하세요 눌러도 투명*/
}

.label {
  font-weight: bold;
  width: 65px;
  text-align: left;
}

.pencil {
  cursor: pointer;
}

/* 완료 버튼 */
.doneButton {
  background: black;
  color: white;
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 30px;
  font-family: "Slackey-Regular", Helvetica;
  font-size: 16px;
}
