.background {
  background: radial-gradient(90% 60% at 50% 100%, #dce4cc 0%, #e3e9d8 70%, #ffffff 110%);
  background-attachment: fixed;

  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  overflow: hidden;
  transform: translateX(-8px);
}

.container {
  position: fixed;
  top: 180px;
  left: 50px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  background-color: transparent;
}

/* 프로필 영역 */
.profileSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  margin: 30px auto;
}

.profileImage {
  width: 100%;
  border-radius: 50%;
  border: 5px solid black;
}

/* 정보 입력 영역 */
.infoContainer {
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoRow {
  display: flex;
  justify-content: left;
  width: 100%;
  margin: 10px 0;
}

.label {
  font-weight: bold;
  width: 60px;
  text-align: left;
}

/* 완료 버튼 */
.editButton {
  background: black;
  color: white;
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
  margin: 30px auto 0 auto;
  font-family: "Slackey-Regular", Helvetica;
  font-size: 16px;
}

/* 오른쪽 스크롤 메인 콘텐츠 */
.mainContent {
  top: 300px;
  margin: 160px 80px 80px 380px;
  padding: 5rem;
  flex: 1;
  width: calc(100% - 280px);
  border-left: 1px solid #bbb;
  background-color: #fff;
  stroke-width: 3px;
  stroke: #455D3E;
  border: 3px #455D3E solid;
  border-radius: 30px;
  /* box-shadow: 5px 5px 10px rgba(0,0,0,0.1); */
  filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.25));
}

.barTitle {
  font-family: "Slackey-Regular", Helvetica;
  font-weight: 700;
  font-size: 24px;
}

.chartWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
  max-width: 800px;
}

/* Bar chart 영역 */
.barChart {
  width: 50%;
  min-width: 300px;
  margin-left: 30px;
}

.pieTitle {
  font-family: "Slackey-Regular", Helvetica;
  font-weight: 700;
  font-size: 24px;
}

/* Pie chart 영역 */
.dnaSection {
  width: 40%;
  min-width: 250px;
  text-align: center;
}